@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: @text;
}

window#waybar {
    background-color: @crust;
    border: 2px solid alpha(@mantle, 0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button.active {
    box-shadow: inset 0 -4px @green;
    background-color: @overlay1;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#gamemode,
#mpd {
    padding: 0 10px;
}
